/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-webkit-keyframes animatetop {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
@keyframes animatetop {
    from {right:-300px; opacity:0}
    to {right:0; opacity:1}
}
/*--------------------------------------------------------------------------------------------------------------------*/
