/*--------------------------------------------------------------------------------------------------------------------*/
body {
    display:block;
    margin:auto;
}
/*--------------------------------------------------------------------------------------------------------------------*/
.container {
    background-image: url('../resources/pictures/App/pattern.png');
    background-repeat: repeat-y;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 700px) {
    .container {
        background-image: none;
    }
}

