/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: MontserratBold;
    src: url('Montserrat-Bold.otf');
}
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: MontserratBoldItalic;
    src: url('Montserrat-BoldItalic.otf');
}
/*--------------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: MontserratThin;
    src: url('Montserrat-Thin.otf');
}
/*--------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: Oswald;
    src: url('oswald.regular.ttf');
}
/*---------------------------------------------------------------------------------------------------------------------*/
@font-face {
    font-family: "Open sans";
    src: url('OpenSans/OpenSans-Regular.ttf')
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
